<!-- begin #content -->
<div id="content" class="content">
    <!-- begin breadcrumb -->
    <!-- <ol class="breadcrumb pull-right">
      <li class="breadcrumb-item"><a href="javascript:;">Home</a></li>
      <li class="breadcrumb-item"><a href="javascript:;">Dashboard</a></li>
      <li class="breadcrumb-item active">Dashboard v2</li>
    </ol> -->
    <!-- end breadcrumb -->
    <!-- begin page-header -->
        <!-- begin #sidebar -->
  <div id="sidebar" class="sidebar">
    <!-- begin sidebar scrollbar -->
    <div data-scrollbar="true" data-height="100%">
      <!-- begin sidebar nav -->
      <ul class="nav">
        
        <li class="active">
          <a href="dashboard.html">
            <i class="fa fa-th-large"></i>
            <span>Main Dashboard</span>
          </a>
        </li>

        <li>
          <a href="form.html">
            <i class="fas fa-chart-line"></i>
            <span>Upload your Data</span>
          </a>
        </li>

        <li class="has-sub">
          <a href="serendipity.html">
              <b class="caret"></b>
              <i class="fas fa-chart-pie"></i>
              <span>Serendipity</span> 
          </a>
          <ul class="sub-menu">
            <li><a href="#">Ovreview</a></li>
            <li><a href="people.html">People</a></li>
            <li><a href="#">Companies</a></li>
            <li><a href="#">Tables</a></li>
            <li class="has-sub">
              <a href="javascript:;">
                <b class="caret"></b>
                <span>Parkour</span> 
              </a>
              <ul class="sub-menu">
                <li><a href="#">Ovreview</a></li>
                <li><a href="#">People</a></li>
                <li><a href="#">Companies</a></li>
                <li><a href="#">Calendar</a></li>
              </ul>
            </li>
          </ul>
        </li>

        <li>
          <a href="admin.html">
            <i class="fas fa-user-cog"></i>
            <span>Admin</span>
          </a>
        </li>

        <li>
          <a href="#">
            <i class="fas fa-cog"></i>
            <span>Settings</span>
          </a>
        </li>

      </ul>
      <!-- end sidebar nav -->
    </div>
    <!-- end sidebar scrollbar -->
  </div>
  <!-- end #sidebar -->
    <h1 class="page-header">Dashboard <small>header small text goes here...</small></h1>
    <!-- end page-header -->
    <!-- begin row -->
    <div class="row">
        <!-- begin col-3 -->
        <div class="col-lg-3 col-md-6">
            <div class="widget widget-stats bg-gradient-green">
              <div class="stats-icon stats-icon-lg"><img src="../../assets/img/dashboard/customer.svg" alt="icon"></div>
              <div class="stats-content">
            <div class="stats-title">Contacts</div>
            <div class="stats-number">2,832,177</div>
            <div class="stats-progress progress">
              <div class="progress-bar" style="width: 70.1%;"></div>
            </div>
            <div class="stats-desc">Better than last week (70.1%)</div>
                      </div>
            </div>
        </div>
        <!-- end col-3 -->
        <!-- begin col-3 -->
        <div class="col-lg-3 col-md-6">
            <div class="widget widget-stats bg-gradient-blue">
                <div class="stats-icon stats-icon-lg"><img src="../../assets/img/dashboard/team.svg" alt="icon"></div>
          <div class="stats-content">
            <div class="stats-title">Companies</div>
            <div class="stats-number">832,177</div>
            <div class="stats-progress progress">
              <div class="progress-bar" style="width: 40.5%;"></div>
            </div>
            <div class="stats-desc">Better than last week (40.5%)</div>
          </div>
            </div>
        </div>
        <!-- end col-3 -->
        <!-- begin col-3 -->
        <div class="col-lg-3 col-md-6">
            <div class="widget widget-stats bg-gradient-blue-dark">
              <div class="stats-icon stats-icon-lg"><img src="../../assets/img/dashboard/investment.svg" alt="icon"></div>
              <div class="stats-content">
                <div class="stats-title">Enrichment</div>
                <div class="stats-number">2,832,177</div>
                <div class="stats-progress progress">
                  <div class="progress-bar" style="width: 76.3%;"></div>
                </div>
                <div class="stats-desc">Better than last week (76.3%)</div>
              </div>
            </div>
        </div>
        <!-- end col-3 -->
        <!-- begin col-3 -->
        <div class="col-lg-3 col-md-6">
            <div class="widget widget-stats bg-gradient-purple">
              <div class="stats-icon stats-icon-lg"><img src="../../assets/img/dashboard/modeled-insights.svg" alt="icon"></div>
              <div class="stats-content">
                <div class="stats-title">Modeled Insights</div>
                <div class="stats-number">2,832,177</div>
                <div class="stats-progress progress">
                  <div class="progress-bar" style="width: 54.9%;"></div>
                </div>
                <div class="stats-desc">Better than last week (54.9%)</div>
              </div>
            </div>
        </div>
        <!-- end col-3 -->
    </div>
    <!-- end row -->
    
    <!-- begin row -->
    <div class="row">
      <!-- begin col-8 -->
        <div class="col-xl-8">
            <div class="panel panel--facebook bg-white">
              <div class="panel-heading panel-heading--light">
                <h4 class="panel-title">FACEBOOK</h4>
                <div class="panel-heading-btn">
                    <a href="javascript:;" class="btn btn-icon" data-click="panel-expand"><i class="fa fa-expand"></i></a>
                    <a href="javascript:;" class="btn btn-icon" data-click="panel-reload"><i class="fa fa-redo"></i></a>
                    <a href="javascript:;" class="btn btn-icon" data-click="panel-remove"><i class="fa fa-times"></i></a>
                </div>
              </div>

              <div class="panel-body panel-body--chart">
                <div class="panel__info">
                  <div class="panel__info-title">Company value<span>In billions of today’s dollars</span></div>
                  <div class="panel__info-descrciption">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</div>
                </div>
                <div id="visitors-facebook-chart" style="height: 257px;"></div>
              </div>
            </div>
        </div>
        <!-- end col-8 -->
        <!-- begin col-4 -->
        <div class="col-xl-4">
            <div class="panel bg-white">
              <div class="panel-heading panel-heading--light">
                <h4 class="panel-title">GROWTH CHART</h4>
                <div class="panel-heading-btn">
                    <a href="javascript:;" class="btn btn-icon" data-click="panel-expand"><i class="fa fa-expand"></i></a>
                    <a href="javascript:;" class="btn btn-icon" data-click="panel-reload"><i class="fa fa-redo"></i></a>
                    <a href="javascript:;" class="btn btn-icon" data-click="panel-remove"><i class="fa fa-times"></i></a>
                </div>
              </div>

              <div class="panel-body panel-body--chart">
                <div id="nv-stacked-bar-chart" class="bar-chart" style="height: 340px;"></div>
              </div>
            </div>
        </div>
        <!-- end col-4 -->
    </div>

    <div class="row">
      <div class="col-xl-8"></div>
      <div class="col-xl-4">
        <div class="panel bg-white panel--full">
          <div class="panel-heading panel-heading--light">
            <h4 class="panel-title">geographical distribution Chart</h4>
            <div class="panel-heading-btn">
                <a href="javascript:;" class="btn btn-icon" data-click="panel-expand"><i class="fa fa-expand"></i></a>
                <a href="javascript:;" class="btn btn-icon" data-click="panel-reload"><i class="fa fa-redo"></i></a>
                <a href="javascript:;" class="btn btn-icon" data-click="panel-remove"><i class="fa fa-times"></i></a>
            </div>
          </div>

          <div class="panel-body panel-body--chart">
            <div id="world-map" class="width-full" style="height: 360px;"></div>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <!-- begin col-8 -->
        <div class="col-xl-8">
            <div class="panel bg-white">
              <div class="panel-heading panel-heading--light">
                <h4 class="panel-title">Visitors Analytics</h4>
                <div class="panel-heading-btn">
                  <a href="javascript:;" class="btn btn-icon" data-click="panel-expand"><i class="fa fa-expand"></i></a>
                  <a href="javascript:;" class="btn btn-icon" data-click="panel-reload"><i class="fa fa-redo"></i></a>
                  <a href="javascript:;" class="btn btn-icon" data-click="panel-remove"><i class="fa fa-times"></i></a>
                </div>
              </div>
              <div class="panel-body panel-body--chart">
                <div class="widget-chart widget-chart--single">
                      <div class="panel__info">
                        <div class="panel__info-descrciption">Where do our visitors come from</div>
                      </div>
                    <div class="widget-chart-content widget-chart-content--single">
                    
                      <div id="visitors-line-chart-test" class="widget-chart-full-width nvd3-inverse-mode" style="height: 284px;"></div>
                    </div>
                    <div class="widget-chart-sidebar bg-gray">
                        <div class="chart-number">
                            1,225,729
                            <small>Total visitors</small>
                        </div>
                        <div id="visitors-donut-chart" style="height:205px;" class="nvd3-inverse-mode"></div>
                        <ul class="chart-legend f-s-11">
                            <li><i class="fa fa-circle fa-fw text-primary f-s-9 m-r-5 t-minus-1"></i> 34.0% <span>New Visitors</span></li>
                            <li><i class="fa fa-circle fa-fw text-success f-s-9 m-r-5 t-minus-1"></i> 56.0% <span>Return Visitors</span></li>
                        </ul>
                    </div>
                </div>
              </div>
            </div>
        </div>

        <!-- end col-8 -->
        <!-- begin col-4 -->
        <div class="col-xl-4">
          <div class="panel bg-white">
              <div class="panel-heading panel-heading--light">
                  <h4 class="panel-title">New Registered Users</h4>
                  <div class="panel-heading-btn">
                    <a href="javascript:;" class="btn btn-icon" data-click="panel-expand"><i class="fa fa-expand"></i></a>
                    <a href="javascript:;" class="btn btn-icon" data-click="panel-reload"><i class="fa fa-redo"></i></a>
                    <a href="javascript:;" class="btn btn-icon" data-click="panel-remove"><i class="fa fa-times"></i></a>
                  </div>
              </div>
              <ul class="registered-users-list clearfix">
                  <li>
                      <a href="javascript:;"><img src="../../assets/img/user/user-5.jpg" alt="" /></a>
                      <h4 class="username text-ellipsis">
                          Savory Posh
                          <small>Algerian</small>
                      </h4>
                  </li>
                  <li>
                      <a href="javascript:;"><img src="../../assets/img/user/user-3.jpg" alt="" /></a>
                      <h4 class="username text-ellipsis">
                          Ancient Caviar
                          <small>Korean</small>
                      </h4>
                  </li>
                  <li>
                      <a href="javascript:;"><img src="../../assets/img/user/user-1.jpg" alt="" /></a>
                      <h4 class="username text-ellipsis">
                          Marble Lungs
                          <small>Indian</small>
                      </h4>
                  </li>
                  <li>
                      <a href="javascript:;"><img src="../../assets/img/user/user-8.jpg" alt="" /></a>
                      <h4 class="username text-ellipsis">
                          Blank Bloke
                          <small>Japanese</small>
                      </h4>
                  </li>
                  <li>
                      <a href="javascript:;"><img src="../../assets/img/user/user-2.jpg" alt="" /></a>
                      <h4 class="username text-ellipsis">
                          Hip Sculling
                          <small>Cuban</small>
                      </h4>
                  </li>
                  <li>
                      <a href="javascript:;"><img src="../../assets/img/user/user-6.jpg" alt="" /></a>
                      <h4 class="username text-ellipsis">
                          Flat Moon
                          <small>Nepalese</small>
                      </h4>
                  </li>
                  <li>
                      <a href="javascript:;"><img src="../../assets/img/user/user-4.jpg" alt="" /></a>
                      <h4 class="username text-ellipsis">
                          Packed Puffs
                          <small>Malaysian></small>
                      </h4>
                  </li>
                  <li>
                      <a href="javascript:;"><img src="../../assets/img/user/user-9.jpg" alt="" /></a>
                      <h4 class="username text-ellipsis">
                          Clay Hike
                          <small>Swedish</small>
                      </h4>
                  </li>
              </ul>
              <div class="panel-footer text-center">
                  <a href="javascript:;">+ See More</a>
              </div>
          </div>
        </div>
    
        <!-- end col-4 -->
    </div>

    <div class="row">
      <!-- begin col-8 -->
        <div class="col-xl-4">
          <div class="panel panel--calendar bg-white" data-sortable-id="index-3">
              <div class="panel-heading panel-heading--light">
                <h4 class="panel-title">calendar</h4>
                <div class="panel-heading-btn">
                  <a href="javascript:;" class="btn btn-icon" data-click="panel-expand"><i class="fa fa-expand"></i></a>
                  <a href="javascript:;" class="btn btn-icon" data-click="panel-reload"><i class="fa fa-redo"></i></a>
                  <a href="javascript:;" class="btn btn-icon" data-click="panel-remove"><i class="fa fa-times"></i></a>
                </div>
              </div>
              <div id="schedule-calendar" class="bootstrap-calendar"></div>
          </div>
        </div>
      </div>
    <!-- end row -->

  </div>